body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:666px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:1310px;
  height:666px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:460px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:140px;
  width:620px;
  height:460px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:105px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:482px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:129px;
  width:645px;
  height:482px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:233px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:100px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:370px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:529px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:-9px;
  width:18px;
  height:18px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
