body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:3px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:608px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:38px;
  width:290px;
  height:608px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:608px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:38px;
  width:285px;
  height:608px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:3px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:94px;
  width:330px;
  height:110px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
